body {
    background-color: black;
}

.container {
    height: 80px;
    display: flex;
    flex-direction: row;
}

.flex-item-1{
    width: 80px;
    height: 80px;
}

.flex-item-2 {
    display: flex;
    flex-direction: row;
    height: 40px;
    color: #fff;
    flex: 1;
    justify-content: flex-end;
}

nav ul li {
    padding: 0px 2%;
    margin: 3% 1% 0 0;
    list-style: none;
}