* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    -webkit-text-size-adjust: none;
}

main {
    width: 100%;
    min-height: 100vh;
}

/**********************************************
NAV BAR
***********************************************/

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-item-1{
    width: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

.flex-item-2 {
    display: flex;
    flex-direction: row;
    height: 40px;
    color: #fff;
    flex: 1;
    justify-content: flex-end;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    padding: 0px 2%;
    margin: 2% 1% 0 0;
    list-style: none;
    font-weight: 550;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
}
a:visited {
    color: #fff;
    text-decoration: none;
}

/**********************************************
MAIN - INTRO SECTION
***********************************************/

#intro { 
    display: flex;
    flex-direction: row;
    /*height: 500px;*/
    min-height: 100vh;
    justify-content: center;

}

.intro-text { 
    flex: 1;
    align-self: center;
    padding-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}

.intro-text header {
    color: fuchsia;
    font-family: monospace;
    font-size: 18px;
    line-height: 70px;
}

.intro-text h1 {
    font-size: 100px;
    line-height: 100px;
    text-shadow: 2px 2px 8px fuchsia;
}

.intro-text p {
    font-size: 16px;
    opacity: 60%;
    padding-top: 1%;
    line-height: 90px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    border: fuchsia solid;
    cursor: pointer;
}

.intro-image {
    padding-right: 175px;
    align-self: center;
    align-items: center;
}

.intro-image img {
    max-width: 450px;
}
/**********************************************
MAIN - ABOUT SECTION
***********************************************/

.about-text {
    text-align: center;
    color: #fff;
}

/**********************************************
MAIN - PORTFOLIO SECTION
***********************************************/

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#portfolio *> a {
    cursor: pointer;
}

#portfolio *> h2 {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/**********************************************
MAIN - CONTACT SECTION
***********************************************/

/**********************************************
FOOTER
***********************************************/



/*@media screen and (max-width: 992px) {
    .card {width: 50%;}
  }*/

@media screen and (max-width: 768px) {
    .container,
    .flex-item-2,
    #intro {
        flex-direction: column;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .flex-item-1 {
        padding: 0 auto;
    }

    .flex-item-2 {
        width: 100%;
        height: 100%;
    }

    nav ul li {
        width: 100%;
        padding: 2% 40%;
        margin: 3px;
        background-color: gray;
        border-top: white 1px solid;
        border-bottom: white 1px solid;
    }

    #intro {
        width: 100%;
    }

    .intro-text {
        padding-top: 50px;
        padding-left: 10%;
        text-align: left;
    }

    .intro-text header {
        font-size: 16px;
        line-height: 40px;
    }

    .intro-text h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .intro-text p {
        font-size: 15px;
        line-height: 40px;
    }

    #intro button {
        display: none;
    }

    .intro-image img {
        max-width: 400px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /******** ABOUT SECTION *****/

    .about-text {
        text-align: center;
    }

    /******** PORTFOLIO SECTION *****/

    #portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #portfolio *> h2 {
        text-align: center;
        line-height: 9;
    }

    .main-proj > h2 {
        line-height: 15;
        margin-top: 25px;
    }

    .main-proj {
        margin: 6px;
        width: 94%;
        height: 200px;
        background-color: grey;
    }

    .proj-1, .proj-2, .proj-3,
    .proj-4, .proj-5, .proj-6 {
        width: 46%;
        height: 150px;
        background-color: grey;
    }

    .proj-1, .proj-3, .proj-5 {
        margin: 6px 0 6px 6px;
    }

    .proj-2, .proj-4, .proj-6 {
        margin: 6px 6px 6px 0;
    }
}